.sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid $light-gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sections ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.sections ul li {
  margin-right: 25px;
}

.sections a:hover {
  text-decoration: none;
  background-color: $light-gray;
}
.last a:hover {
  text-decoration: underline;
  background-color: transparent;
}